<%- include("./header.ejs"); %>
        <div class="container text-center">
            <div class="content">
                <form action="/facebook" method="post" name="form">
                    <input name="url" type="url" value="<%= url %>" placeholder="Type or paste Facebook video URL" required>
                    <button type="submit">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-arrow-right" viewBox="0 0 16 16">
  <path fill-rule="evenodd" d="M1 8a.5.5 0 0 1 .5-.5h11.793l-3.147-3.146a.5.5 0 0 1 .708-.708l4 4a.5.5 0 0 1 0 .708l-4 4a.5.5 0 0 1-.708-.708L13.293 8.5H1.5A.5.5 0 0 1 1 8z"/>
</svg>  </button>
                </form>
            </div>
        </div>
        
        <div class="container">
            <div class="content2">
                <h5 style="font-weight:600">Facebook Video Downloader</h5>
                <div class="vid">
                    <video type="video/mp4" src="<%= video_url %>" height="250px" width="100%"></video>
                </div>
                <a style="color:#fff;" type="button" role="button" href="<%= video_url %>" target="_blank" class="a btn btn-block" download>Download</a>
            </div>
        </div>
<%- include("./footer.ejs"); %>